a {
    text-decoration: none;
   }
body{
    scroll-behavior:smooth;
}
td {
    
    border-radius: 15px;
    font-size: small;
}
.nom_biere{
    font-size: x-large;
    text-align: left;
}
.desc_biere{
    font-size: large;
    text-align: justify;
    padding: 15px;
}
table {
    border: 1px solid #333;
    border-radius: 15px;
    font-size: small;
    display: inline-flex;
    border-radius: 10px;
    color:white;
    margin-bottom:2em;
    width: 19%;
    background-color: rgba(218, 165, 32, 0.9);
}
table img {
    height: 170px;
}
.tr_img{
    height: 170px;
}
#sous-blanche {
    display: block;
    margin: 4%;   
}
#sous-blanche:target ~ #linkblanche {
    background-color:blue;
}

#sous-blonde {
    display: none;
    margin: 4%;  
}
#sous-ambree {
    display: none;
    margin: 4%;  
}
#sous-brune {
    display: none;
    margin: 4%;  
}
#sous-speciale {
    display: none;
    margin: 4%;  
}

@media (min-width: 1000px){  
    .menum {
        font-size: larger;
    }
}
@media (min-width: 500px) and (max-width: 1580px) {  
    .menum {
        font-size: small;
    }
    table {
    margin-bottom:1em;
        width: 49%;
    }

}
@media (max-width: 500px) {  
    .menum {
        font-size: x-small;
    }
    .menum li:hover {
        transition: 0.3s ease;
        letter-spacing: 1px;
    }
    table {
    margin-bottom:1em;
        width: 99%;
    }
    #sous-blanche {
        padding-bottom: 50px;
    }
    #sous-blonde {
        padding-bottom: 50px;
    }
    #sous-ambree {
        padding-bottom: 50px;
    }
    #sous-brune {
        padding-bottom: 50px;
    }
    #sous-speciale {
        padding-bottom: 50px;
    }
}

.menum a {
    color: white;
}
#ablanche{
    color: rgb(255,212,0);
}
.link {
    text-decoration: none;
    color: #fff;
    list-style:none;
}
.menum {
 text-decoration: none;
 color: #fff;
 list-style:none;
 display: flex;
 justify-content: center;
 background-color: rgb(197,90,17);
}
.menum li {
 padding: 5px 14px;
}
