body,html{
    width: 100%;
    font-family: 'Comic Sans MS', arial;
}

html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    scroll-behavior:smooth;
    width: 100%;
    height: 100%;
    background-image: url("../img/background/bg2.jpg");
    overflow-x: hidden;
}
main {
    position: relative;
}
.container{
    min-height: 100%;
    position: relative;
}

.add-biere {
    color: white;
    display: flex;
    justify-content: center;
}