body,html{ 
    background-image: url("src/img/background/bg2.jpg");
}
.form-popup p{
    font-family: 'Comic Sans MS', arial;
    text-align: center;
    font-size: xx-large;
}    
.boutons{
    font-family: 'Comic Sans MS', arial;
    text-align: center;
}
.btn_oui{
    background-color: transparent;
    color: rgb(0, 189, 0);
    border-color: rgb(0, 189, 0);
    font-family: 'Comic Sans MS', arial;
    font-size: x-large;
    width: 60px;
    height: 35px;
}
.form-popup{
    margin: auto;
    display: inline-block;
    border: 5px solid yellow;
    border-style: outset;
    background-color: #DEA900;
    padding: 20px 30px 50px 30px;
}
.btn_non{
    background-color: transparent;
    color: red;
    border-color: red;
    font-family: 'Comic Sans MS', arial;
    font-size: x-large;
    width: 60px;
    height: 35px;
}
#container_popup{
    width: 100%;
    text-align: center;
    top: -700px;
    position: relative;
    z-index: 9;
}
.form-container{
    font-size: xx-large;
}
.overlay-verify {
    position: fixed;
    backdrop-filter: blur(4px);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }